//--------------------------------------------\\
//@IMPORT
//--------------------------------------------\\
@import "_variables";
@import "_mixins";


//--------------------------------------------\\
//Desktop First Method
//--------------------------------------------\\

// Large Devices, Wide Screens
@media only screen and (max-width : 1200px) {

}

// Medium Devices, Desktops
@media only screen and (max-width : 992px) {

}

// Small Devices, Tablets
@media only screen and (max-width : 768px) {	

}

// Extra Small Devices, Phones
@media only screen and (max-width : 480px) {


	// Disable Animation on Mobile Devices
	.animated {
		transition-property: none !important;
		transform: none !important;
		animation: none !important;
	}	
}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {
	
}


//--------------------------------------------\\
//Mobile First Method
//--------------------------------------------\\

// Custom, iPhone Retina 
@media only screen and (min-width : 320px) {
	
}

// Extra Small Devices, Phones
@media only screen and (min-width : 480px) {

}

// Small Devices, Tablets
@media only screen and (min-width : 768px) {
	
}

// Medium Devices, Desktops
@media only screen and (min-width : 992px) {
	
}

// Large Devices, Wide Screens
@media only screen and (min-width : 1200px) {
	
}