//--------------------------------------------\\
//@IMPORT
//--------------------------------------------\\
@import "_variables";
@import "_mixins";


//--------------------------------------------\\
//DEFAULT
//--------------------------------------------\\
* {
  box-sizing: border-box;
} 


//--------------------------------------------\\
//STYLES
//--------------------------------------------\\
html {
 font-size: 14px;
 line-height: 1px;
}
    
body { 
 font-family: sans-serif;
 @include rem(font-size, 12, 16);  
 @include rem(line-height, 12, 16); 
 min-width: 320px;
 position: relative;
} 

div:after {
	@include pseudo(block, absolute, " ");
}

span {
		@include clearfix;
}

textarea {
	@include input-placeholder {
		color: red;
	}
}

//--------------------------------------------\\
//@IMPORT
//--------------------------------------------\\
@import "_header";



//--------------------------------------------\\
//Вставляея свойства
//--------------------------------------------\\
// %for-grids {
//     min-height: 1px;
// }

// .class {
//     @extend %for-grids;
// }

//--------------------------------------------\\
//Наследует свойства
//--------------------------------------------\\
// .error {
//   border-radius: 4px;
// }

// .badError {
//   @extend .error;
//   background-color: #78b6ff;
// }

//--------------------------------------------\\
//Массив
//--------------------------------------------\\
// $social: fac, tww, vk;
// @each $soc in $social {
  
//   .social-#{$soc} {
//     background: url("../img/social/#{$soc}.png");
//   }
// }

//--------------------------------------------\\
//Цикл
//--------------------------------------------\\
// @for $i from 1 through 4 {

//   .item-about-#{$i} {
//     display: block;

//     @if $i == 1 {
//       width: 116px;
//     } @else if $i == 2 {
//       width: 118px;
//     } @else if $i == 3 {
//       width: 118px;
//     } @else if $i == 4 {
//       width: 118px;
//     }
//   }
// }

//--------------------------------------------\\
//@IMPORT
//--------------------------------------------\\
@import "_footer";
@import "_media";